.div-1, .div-2 {
    background-color: aquamarine;
    /* display: block; POR DEFECTO - los div tienen display block*/
}

.img {
    width: 50px;
    height: 50px;
    /* display: inline-block; POR DEFECTO - las imagenes tienen display inline-block*/
}

.span-1 {
    background-color:cornflowerblue;
    /* display: inline; POR DEFECTO - los span tienen display inline*/
}

.span-2 {
    background-color: cornflowerblue;
    float: right;
}