div {
    border: 1px solid grey;
    padding: 5px;
    margin: 5px;
}


/*Posicionamiento relativo - se posiciona en relacion al
posicionamiento original */
.relative {
    position: relative;
    left: 80px;
    margin-left: 10px;
}

/*Posicionamiento fixed - se posiciona en relacion a la
pantalla */
.fixed {
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: greenyellow;
    z-index: 10;
}

/*Posicionamiento absoluto */
.absolute {
    position: absolute;
    top: 0px;
    background-color: white;
}

.relative.contenedor {
    width: 800px;
    height: 800px;
    background-color:cadetblue;
}

.sticky {
    background-color:crimson;
    position: sticky;
    color: white;
    top: 0px;
    z-index: 2;
}