h1 {
    color:cornflowerblue;
}

/*Estoy probando colores y fuentes*/
p {
    color:chocolate;
    font-size: 16pt;
}

#primera-noticia {
    color: brown;
    font-size: 12pt;
}

#segunda-noticia {
    color: blueviolet;
}