.colores {
    color: cornflowerblue;
}

.color-hexadecimal {
    color: #A96DA3;
}

.color-rgb {
    color: rgb(143, 17, 169);
}

.color-rgba {
    color: rgba(10, 10, 10, 0,85);
}

p {
    font-size: 15pt;
}

.fondo {
    background-color:darkcyan;
    background-image: url("https://d33wubrfki0l68.cloudfront.net/89a052ddc6d368ce93d9067e8444c36a3558efe7/f9e10/static/triangle_background2-6eded4a7ad80c007fb65f02c828e5dd0.jpg");
}

.fondo-interno {
    background-color:darkcyan;
    background-image: url(/04-intro-css/imagen-fondo/images.jpg);
    background-position: left bottom;
}

/* Tamaño */
.ancho {
    background-color: #A96DA3;
    width: 160px;
}

.alto {
    background-color:#80dc5b;
    height: 500px;
    width: 800px;
}

.tarjeta {
    border-style: solid;
    border-color:blueviolet;
    border-width: 1px;
    /*border-top: none;*/
    padding: 10px 20px;
    /*padding: 10px 20px 30px 40px;*/
    margin: 10px 20px;
    /*margin: 10px 20px 30px 40px;*/
}